
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* __________________________________________ */
* {
    box-sizing: border-box;
}

body{
    display: flex;
	font-family: "Josefin Sans", sans-serif;
}
.signupimg{
    
    height: 100vh;
    width: auto;
	position: relative;
}

.signupimg img{
    max-height: 100%;
}

.author-img{
	position: absolute;
	bottom: 4px;
	color:white;
	font-size: small;
	left: 50%;
    transform: translate(-50%, 0);
}

.author-img a{
	text-decoration: underline;
	color: white;
}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(250, 250, 250);

}

.hero{
	text-align: justify;
	padding-left: 10%;
	padding-bottom: 25px;
	width: 70%;

	h1{
		margin-bottom: 10px;
		font-size: 1.5em;
		font-weight: 600;
	}
} 

.container fieldset{
	display: flex;
	flex-direction: column;
	padding: 12px 10% 24px ;
	border-top: solid gainsboro 1px;
	border-bottom: solid gainsboro 1px;
	box-shadow: 8px 5px 10px gainsboro;

	h1 {
		margin-top: 8px;
		margin-bottom: 8px;
		font-weight: 800;
	}

	input, select{
		width: 25ch;
	}
	label{
		color: rgb(98, 98, 98);
	}

	/* input:focus {
		outline: yellow double 5px;
	} */

}

.container legend{
	font-weight: 700;
}

.container .form-rows{
	display: flex;
	margin-top: 10px;
}


.form-rows div:last-child{
	margin-left: 10%;
}


input:invalid{
	border-color:red;
}
input:valid{
	border-color: green;
}
/* #3d7178 */
.form-bttn{
	margin: 2% 10%;

	button{
		width: 25ch;
		height: 5ch;
		background-color: #52949d;
		border-radius: 2ch;
		box-shadow: 8px 5px 10px gainsboro;
	}
}